body,html {
  height: 100%;
}

.pageTitle {
  margin-bottom: 100px;
}

.pageContent {
  height: 50%;
}

.sectorRow, nav, #results{
  margin-bottom: 50px;
}

.sector{
  border: black 2px solid;
  border-radius: 5%;
  padding: 5px;
}