<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Taviraj|Work+Sans" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/main.css">
  <title>ABV Calculator</title>
</head>

<body>


  <!-- Nav Bar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="../index.html">QA Tools</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="./counts.html">Yeast Counts</a>
        <a class="nav-item nav-link" href="./sensory.html">Sensory Words / Codes</a>
        <a class="nav-item nav-link" href="./abvCalc.html">ABV Calculations</a>
      </div>
    </div>
  </nav>

  
  <div class="container text-center pageTitle">
    <h1>ABV Calculations</h1>
  </div>


  <div class="container pageContent">
    <!-- ABV Dilutions Section of Page -->
    <h2 class="text-center rowTitle">ABV Dilutions Calculator</h2>
    <div class="row abvRow">
      <!-- Results Column -->
      <div class="col">
        <p class="font-weight-bold">Vol. of Sample (alcohol) Required:</p>
        <p class="resultsText1" id="alcVol">0.00 ml</p>
        <p class="font-weight-bold">Vol. of Water Required:</p>
        <p class="resultsText1" id="waterVol">0.00 ml</p>
      </div>
      <!-- User Input Column -->
      <form onsubmit="ABVDilutionCalc(); return false" class="col">
        <div class="form-group">
          <label for="currentABV">Current ABV%</label>
          <input type="number" class="form-control" id="currentABV" required step="0.01">
        </div>
        <div class="form-group">
          <label for="desiredABV">Desired ABV%</label>
          <input type="number" class="form-control" min="1" id="desiredABV" required step="0.1"value="20">
        </div>
        <div class="form-group">
          <label for="desiredVol">Desired Volume (ml)</label>
          <input type="number" class="form-control" id="desiredVol" required step="0.1" value="100">
        </div>
        <button type="submit" class="btn btn-primary btn-sm">Calculate</button>
      </form>
    </div>
    <!-- Absolute Alcohol Section of Page -->
    <h2 class="text-center rowTitle">Absolute Alcohol Vol. Calculator</h2>
    <div class="row abvRow">
      <!-- Results Column -->
      <div class="col">
        <div>
          <p class="font-weight-bold">Volume of Absolute Alcohol:</p>
          <span class="resultsText1" id="volAbsAlc">0.00 ml</span>
        </div>
      </div>
      <!-- User Input Column -->
      <form onsubmit="absAlcVolCalc(); return false" class="col">
        <div class="form-group">
          <label for="componentVol">Volume of Component (ml) </label>
          <input class="form-control"type="number" name="" id="componentVol" required step="0.01">
        </div>
        <div class="form-group">
          <label for="componentABV">Component ABV% </label>
          <input class="form-control" type="number" name="" id="componentABV" required step="0.01">
        </div>
        <button type="submit" class="btn btn-primary btn-sm">Calculate</button>
      </form>   
    </div>

    <!-- ABV % Calculator -->
    <h2 class="text-center rowTitle">ABV% Calculator</h2>
    <div class="row abvRow">
      <!-- Results Column -->
      <div class="col">
        <div>
          <p class="font-weight-bold">ABV%</p>
          <span class="resultsText1" id="ABV">0.00 %</span>
        </div>
      </div>
      <!-- User Input Column  -->
      <form onsubmit="abvCalc(); return false;" class="col">
        <div class="form-group">
          <label for="componentAlcVol">Vol. of Absolute Alcohol (ml) </label>
          <input class="form-control" type="number" name="" id="componentAlcVol" required step="0.01">
        </div>
        <div class="form-group">
          <label for="totalVol">Total Volume of Solution (ml) </label>
          <input class="form-control" type="number" name="" id="totalVol" required step="0.01">
        </div>
        <button type="submit" class="btn btn-primary btn-sm">Calculate</button>
      </form>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="../scripts/main.js"></script>
</body>

</html>