<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="../stylesheets/main.css">
  <title>Sensory Words and Codes</title>
</head>

<body>
  <!-- Nav Bar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="../index.html">QA Tools</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="./counts.html">Yeast Counts</a>
        <a class="nav-item nav-link" href="./sensory.html">Sensory Words</a>
      </div>
    </div>
  </nav>

  <div class="container text-center pageTitle">
    <h1>Sensory Words/Codes Generator</h1>
  </div>

  <div class="container h-100">
    <div class="row h-100 justify-content-center">
      <div class="col-lg-6 col-sm-12">
        <h2 class="rowTitle">Triangle Assessment Words</h2>
        <div>
          <h4 class="text-success">Odd:  <span class="words" id="odd"></span></h4>
          <h4 class="pairs text-danger">Pair 1:  <span class="words" id="pair1"></span></h4>
          <h4 class="pairs text-danger">Pair 2:  <span class="words" id="pair2"></span></h4>
        </div>
        <div>
          <button class="btn btn-primary btn-sm wordButtons" data-letter-count="3">3-Letter Words</button>
          <button class="btn btn-primary btn-sm wordButtons" data-letter-count="4">4-Letter Words</button>
        </div>
      </div>
      <div class="col-lg-6 col-sm-12">
        <h2 class="rowTitle">Codes for Direct Determinations</h2>
        <form onsubmit="generateCodes(); return false">
          <label for="number">Number of Samples:</label>
          <input type="number" min="1" max="4" id="numberInput" name="sampleCount" class="form-control-sm">
          <div>
            <h4 class="hiddenRef text-success">Hidden Ref:</h4>
            <div class="numbersList text-danger">
            </div>
          </div>
          <button class="btn btn-primary btn-sm">Generate Codes</button>
        </form>
      </div>
    </div>
  </div>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="../scripts/words.js"></script>
  <script src="../scripts/main.js"></script>
</body>

</html>