body,html {
  height: 100%;
}

.pageTitle {
  margin-bottom: 100px;
}

.sectorRow, nav, #results, .rowTitle, .card{
  margin-bottom: 50px;
}

.sector{
  border: black 2px solid;
  border-radius: 5%;
  padding: 5px;
}

.pairs {
  display: inline-block;
  margin-right: 25px;
}