body,html {
  height: 100%;
  font-family: 'Taviraj', serif;
}

h1,h2,h3,h4,h5,h6 {
font-family: 'Work Sans', sans-serif;
}

.pageTitle {
  margin-bottom: 100px;
}

.sectorRow, nav, #results, .rowTitle, .card{
  margin-bottom: 50px;
}

.sector{
  border: black 2px solid;
  border-radius: 5%;
  padding: 5px;
}

.pairs {
  display: inline-block;
  margin-right: 25px;
}

.results {
  font-size: 1.70em;
  color: #28a745;
}
.results:nth-child(even){
  color:#dc3545;
}